body {
  min-height: 75rem;
}

main {
  margin-top: 50px;
}

.two-side-row {
  display: flex;
}

.two-side-row > div:first-child{
  margin-right: auto;
}
.two-side-row > div:last-child{
  margin-left: auto;
}
.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.cardImg {
  min-height: 100px;
  max-width: 330px;
  width: auto;
}
.cardImgLg {
  min-height: 100px;
  max-width: 360px;
  width: auto;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 14px;
}
.card-title {
  font-size: 20px;
  color: #000;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
