---
layout: default
title: Recent Events
permalink: /events/current/
---
<div style="padding: 20px 20px 40px 20px; font-size: 20px">
  <h1>{{ page.title }}</h1>
  {% assign fifteen_days = 1296000 %}
  {% assign half_year = 15552000 %}
  {% assign current_events = 0 %}
  {% for post in site.posts %}
    {% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture posttime %}{{ post.date | date: '%s' | plus: half_year }}{% endcapture %}
    {% if posttime >= nowunix %}
      {% assign current_events = current_events | plus: 1 %}
      <div class="row" style="padding: 10px">
        <div class="col-sm-6 col-md-4">
          <a href="{{ post.url }}">
            <img src="{{ post.thumbnail }}" width="300px" style="max-width: 100%">
          </a>
        </div>
        <div class="col-sm-6 col-md-8 text-background-white" style="margin-top: 10px">
          <a href="{{ post.url }}">
            <h2 class="h2-responsive">{{ post.title }} <small>{{ post.dateStr }}</small></h2>
          </a>
          <p class="text-responsive" style="margin: 15px 0px">{{ post.brief }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if current_events == 0 %}
    <div class="text-center">
      <p class="text-responsive">Oops! There is no big event happening in a few days.
        Check out the <a href="/events/past/" class="a-nohover">past events</a> page!</p>
    </div>
  {% endif %}
  {% assign board-game-night = site.miscs.board-game-night %}
  <!-- {% for board-game-night in site.miscs %} -->
  <h1>Long-term Events</h1>
  <div class="row" style="padding: 10px">
    <div class="col-sm-6 col-md-4">
      <a href="{{ board-game-night.url }}">
        <img src="{{ board-game-night.thumbnail }}" width="300px" style="max-width: 100%">
      </a>
    </div>
    <div class="col-sm-6 col-md-8 text-background-white" style="margin-top: 10px">
      <a href="{{ board-game-night.url }}">
        <h2 class="h2-responsive">{{ board-game-night.title }}</h2>
      </a>
      <p class="text-responsive" style="margin: 15px 0px">{{ board-game-night.brief }}</p>
    </div>
  </div>
  <!-- {% endfor %} -->
</div>
