<div style="padding: 20px; background-color:#FFF; border-top-left-radius: 75px; border-top-right-radius: 75px">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <h3>&nbsp;&nbsp;Our Sponsors</h3>
        <ul style="list-style-type:none; font-size: 18px">
          <li><a href="https://www.ctexcel.us/" target="_blank">中国电信</a></li>
          <li><a href="https://promo.bankofamerica.com/student-banking/zh-hans/" target="_blank">
            Bank of America</a></li>
          <li><a href="https://www.isoa.org/" target="_blank">ISO Insurrance</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h3>&nbsp;&nbsp;Resources</h3>
        <ul style="list-style-type:none; font-size: 18px">
          <li><a href="https://one.ufl.edu/" target="_blank">ONE.UF</a></li>
          <li><a href="http://www.ufic.ufl.edu/" target="_blank">
            UF International Center</a></li>
          <li><a href="http://houston.china-consulate.org/chn//" target="_blank">中国驻休斯敦总领馆</a></li>
        </ul>
      </div>
      <div class="col-sm-4" style="text-align:center">
        <img src="/assets/logo/long.webp" width="256px"/>
        <p>© Copyright 2019 Chinese Student Association at
          University of Florida</p>
        <p>All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
