<nav class="nav navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2"
				style="margin-left: 0px; width:85%">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#mainNavbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img width="50" src="/assets/logo/transp.png" style="float:left" />
					<a href="{{ "/" }}">
						<p class="navbar-brand" style="font-size: 22px; line-height: 26px">
							UF CSA
						</p>
					</a>
				</div>
				<div class="collapse navbar-collapse pull-right" id="mainNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/" style="color: #292929">HOME</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" id="eventsdropdown" data-toggle="dropdown">
								EVENTS <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/events/current/">Happening Now</a></li>
								<li><a href="/events/past/">Past Events</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" id="eventsdropdown" data-toggle="dropdown">
								SERVICES <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="http://www.uflcsa.org" target="_blank">Airport Pickup</a></li>
								<li><a href="https://www.toufl.com" target="_blank">Forum</a></li>
								<li><a href="/service/new_student/">New Student Guide</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" id="eventsdropdown" data-toggle="dropdown">
								MORE INFO <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/about/social_media/">Social Media</a></li>
								<li><a href="/about/departments/">Departments</a></li>
								<li><a href="/about/staff/">Staff Members</a></li>
								<li><a href="/about/contact/">Contact Us</a></li>
								<li><a href="/about/join/">How To Join</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
