.shrink-box {
  padding: 40px 0px;
}
.box{
  height: 20vh;
  margin: auto;
  display: block;
  position: relative;
}
.box > pre {
  background: none;
  color: #FFF;
  font-size: 18px;
  position: absolute;
}
.box-right {
  text-align: right;
  right: 0;
}

.inner-cover {
  display: table-cell;
  vertical-align: middle;
}
.inner-container{
  display: table;
  padding-bottom: 20px;
}
.highlight{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background: none;
}
.thumbnail {
  background-color: transparent !important;
  border: none !important;
}
// youtube video responsive
.media-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.media-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
// hover show dropdown
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.strip-border, .strip-border:hover, button.strip-border:active, button.strip-border:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}
.home-image {
  background-image: url("/assets/home_image.png")
}
