---
layout: default
---
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div style="border-width: 1px; border-style: solid; border-color: rgb(218, 33, 40); border-radius: 5px; box-sizing: border-box;">
      <section style="box-sizing: border-box;">
        <section style="width: 5px;height: 5px;border-bottom: 1px solid rgb(218, 33, 40);border-right: 1px solid rgb(218, 33, 40);float: left;box-sizing: border-box;"></section>
        <section style="width: 5px;height: 5px;border-bottom: 1px solid rgb(218, 33, 40);border-left: 1px solid rgb(218, 33, 40);float: right;box-sizing: border-box;"></section>
        <section style="clear: both;box-sizing: border-box;"></section>
      </section>
      <div style="border-width: 1px; border-style: solid; border-color: rgb(218, 33, 40); box-sizing: border-box; margin: -1px 4px; padding: 5px 10px">
        <div style="text-align: center">
          <img src="{{ page.thumbnail }}" width="512px" class="img-responsive"
          style="display: inline-block; padding: 10px 0px" />
        </div>
        <p class="text-responsive">{{ page.brief }}</p>
        <div style="text-align: center; padding-top: 10px">
          {{ content }}
        </div>
      </div>
      <section style="box-sizing: border-box;">
        <section style="width: 5px;height: 5px;border-top: 1px solid rgb(218, 33, 40);border-right: 1px solid rgb(218, 33, 40);float: left;box-sizing: border-box;"></section>
        <section style="width: 5px;height: 5px;border-top: 1px solid rgb(218, 33, 40);border-left: 1px solid rgb(218, 33, 40);float: right;box-sizing: border-box;"></section>
        <section style="clear: both;box-sizing: border-box;"></section>
      </section>
    </div>
  </div>
</div>
